.homiee{
    width: 100%;
    height: 100vh;
    background-color: white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 40px;

}
.AdminWrap{
    width: 80%;
    height: 80%;
    display: flex;
    background-color: white;
    justify-content: center;
    color: black;
    border-radius: 10px;
    padding: 5px;
    gap: 15px;
    align-items: center;

    
}
.adminLeft{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    padding-top: 15px;
    gap: 20px;
    
}
.adminLeft h1 {
    font-size: 20px;
    color: black;
}

.profilee {
    width: 80%;
    height: 20%;
    color: black;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.profile {
    width: 80%;
    height: 20%;
    color: black;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* .profile {
    width: 80%;
    height: 20%;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.profile {
    width: 80%;
    height: 20%;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

.images{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
    display: flex;
} 

.images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.adminRight{
    width: 80%;
    height:100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
}
.adminRightWrap{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    border-radius: 10px;
    padding: 2%;
    gap: 20px;

}
.adminRightWrap h1{
    font-size: 30px;
     display: flex; 
    justify-content: center;
     align-items: center;
}
.card{
    width: 80%;
    height: 20%;
    display: flex;
    gap: 10px;
    border-radius: 5px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   /* justify-content: center; */
   align-items: center;
   padding-left: 3%;
   color:black;

}
.card h5{
    font-size: 20px;
    
}
.card p {
    font-size: 15px;
}

.text{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}