.loginHold{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    background-image: url('./greenPen.jpg');
    background-size: cover;
    position: relative;
}

.loginWrap{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;

}
.high{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.top{
    min-width: 244px;
    height: 60%;
    display: flex;
    background-color: white;
    gap: 10px;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    /* flex-direction: column; */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 5px;
}

.top input{
    border: none;
    color: black;
    outline: none;
    width: 90%;
    height: 100%;
    cursor: pointer;
}

.midz{
    min-width: 244px;
    height: 60%;
    display: flex;
    background-color: white;
    gap: 10px;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 5px;
}

.midz input{
    border: none;
    color: black;
    outline: none;
    width: 90%;
    height: 100%;
    cursor: pointer;
}

.login{
    width: 40%;
    height: 20%;
    display: flex;
    /* background-color: green; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    border-radius: 5px;
    gap: 10px;
}

.login button{
    min-width: 66px;
    height: 30px;
    background-color: rgb(46, 4, 254);
    font-size: 12px;
    border: none;
    color: white;
    cursor: pointer;
    
}

.inf{
     width: 40%;
     height: 20%;
     font-size: 10px;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
}

